@media (max-width:1320px){
.uvchart{
scale:0.8;
}
}
@media (max-width:730px){
.uvchart{
scale:0.7;
}
}
@media (max-width:410px){
.uvchart{
scale:0.5;
}
}
@media (max-width:362px){
.uvchart{
scale:0.5;
}
}